body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    color: grey;
}
.color{
    color: orange;
}
#text-color{
    color: gray;
}
.header{
    display: flex;
    margin-top: 5%;
}
.devide{
    width: 50%;
    padding: 7%;
}
.link-button{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(#FB984C, #FE4F30);
    padding: 15px 30px;
    color: white;
    font-weight: 500;
    border-radius: 50px;
}
.middle{
    background-image: url(images/shapes/7.png);
}
#middle-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#margin-top{
    margin-top: 50px;
}
.last-part h1{
    text-align: center;
}
#recipie-text{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.bottom{
    width: 33%;
    margin: 2%;
    border-radius: 20px;
    padding: 10px;
    box-shadow:5px 5px 30px gray;
}
.bottom img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-pad{
    margin-left: 5%;
    margin-right: 5%;
}
.footer-bottom{
    overflow: hidden;
    text-align: center;
    background-color: black;
    height: 200px;
}
.footer-bottom h2{
    margin-top: 25px;
    color: white;
}
.footer-bottom small{
    color: white;
}