body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    color: grey;
}
.color{
    color: orange;
}
#text-color{
    color: gray;
}
.header{
    display: flex;
    margin-top: 5%;
}
.devide{
    width: 50%;
    padding: 7%;
}
.link-button{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(#FB984C, #FE4F30);
    padding: 25px 30px;
    color: white;
    font-weight: 500;
    border-radius: 50px;
}
.middle{
    background-image: url(images/shapes/7.png);
}
#middle-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#margin-top{
    margin-top: 50px;
}
.last-part h1{
    text-align: center;
}
.last-part p{
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}